
.content-wrapper {
  height: 500px;
  width: 650px;
  position: relative;
}

.slide-container {
  height: 300px;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.button-container {
  text-align: center;
}

.btn {
  min-width: 50px;
  font-size: 18px;
}

.btn-next {
  margin-left: 10px;
}

.btn-prev {
  margin-right: 10px;
}
